<div class="container mt-3">

<h2 class="fancy-font hot-title mb-3">Registra't</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                label: "Email",
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                label: "Contrasenya",
                required: true,
                hint: (" Mínim #{@minimum_password_length} caràcters. Si us plau, no utilitzis una contrasenya habitual aquí." if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Confirma la contrasenya",
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
                label: "Nom",
                required: true %>
    <%= f.input :last_name,
                label: "Cognoms",
                required: true %>
    <%= f.input :telegram_user,
                label: "Usuari de Telegram" %>
    <%= f.input :photo,
                label: "Foto de perfil",
                hint: "Si us plau, no posis una fotografia d'un paisatge. A les persones els costarà fer-ne més la missió si no et coneixen.",
                as: :file %>
  </div>

  <div class="form-actions btn btn-ghost">
    <%= f.button :submit, "Registra't" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
