<div class="container">

  <h2 class="mt-3 fancy-font hot-title centered-text mb-3">Hola <%= current_user.first_name %>!</h2>

  <% if current_user.photo.attached? %>
    <%= cl_image_tag @current_user.photo.key, class: "current-user-photo text-center" %>
    <div class="container">
      <p style="font-size: 12px"><em>Cuida tu collar, reina. Si ves a alguien acerc谩ndose con su m贸vil a tu cuello, es
          para
          robarte tu misi贸n. No le dejes!</em></p>
    </div>
  <% end %>

  <% if @mensaje %>
    <div class="alert alert-primary" role="alert">
      <%= @mensaje %>
    </div>
  <% end %>

  <% if @other_mission.present? && @other_mission.status == "completed" %>
    <h2 style="color: red" class="mt-5 fancy-font hot-title centered-text mb-5">隆Cari! 隆Has perdido!</h2>
    <p>Tu rival te ha ganado y ha escaneado la que era tu misi贸n. Ya no tienes nada que hacer. </p>
    <p>Esperamos que hayas disfrutado del juego. Lo hemos hecho con mucho amor. わ</p>
    <p>隆Nos vemos en la fiesta!</p>
    <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
    <br>

  <%# Cuando hay una nueva misi贸n, sale un cartel de cu谩l es la nueva misi贸n, pero deber铆a verse sin el div que muestra la misi贸n actual. %>
  <% elsif @new_mission && @user_mission.present? %>
    <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
    <h2 class="mt-3 fancy-font hot-title centered-text mb-3">隆Tienes una nueva misi贸n!</h2>

    <% challenge = @new_mission.challenge.description %>
    <% full_name = @new_mission.target_user.first_name + " " + @new_mission.target_user.last_name %>
    <% challenge.gsub!("target", full_name) %>

    <div class="d-flex flex-row">
      <div class="p-2">
        <p><em><%= challenge %></em> </p>
      </div>
      <div class="p-2">
        <%= cl_image_tag @new_mission.target_user.photo.key, class: "target-user-photo" %>
      </div>
    </div>

    <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
    <br>

    <h3 class="hot-title mb-3">Todas mis misiones:</h3>

    <div class="container">
      <% current_user.missions.each_with_index do |mission, index| %>
      <% the_name = mission.target_user.first_name + " " + mission.target_user.last_name %>
      <div class="d-flex flex-row">
        <div class="p-2">
          <p><%= index + 1 %>. <i><%= mission.challenge.description.gsub("target", the_name) %></i></p>
          <p>Estado: <strong><%= mission.status == "pending" ? "Pendiente" : "Ganada" %></strong></p>
        </div>
        <div class="p-2">
          <%= cl_image_tag mission.target_user.photo.key, class: "target-user-photo" %>
        </div>
      </div>
      <hr>
      <% end %>
    </div>

  <%# Cuando ya est谩n asignadas las misiones, los usuarios deben ver cu谩l es su misi贸n actual. %>
  <% elsif @user_mission.present? %>

    <% challenge = current_user.missions.last.challenge.description %>
    <% full_name = current_user.missions.last.target_user.first_name + " " + current_user.missions.last.target_user.last_name %>
    <% challenge.gsub!("target", full_name) %>

    <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
    <br>

    <h3 class="text-center hot-title">Tu misi贸n actual es:</h3>
    <div class="d-flex flex-row">
      <div class="p-2">
        <p><em><%= challenge %></em> </p>
      </div>
      <div class="p-2">
        <%= cl_image_tag current_user.missions.last.target_user.photo.key, class: "target-user-photo" %>
      </div>
    </div>

    <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
    <br>

    <h3 class="hot-title mb-3">Todas mis misiones:</h3>

    <%# Aqu铆 tengo que coger la variable full_name y asignarla correctamente en la iteraci贸n %>
    <div class="container">
      <% current_user.missions.each_with_index do |mission, index| %>
      <% the_name = mission.target_user.first_name + " " + mission.target_user.last_name %>
      <div class="d-flex flex-row">
        <div class="p-2">
          <p><%= index + 1 %>. <i><%= mission.challenge.description.gsub("target", the_name) %></i></p>
          <p>Estado: <strong><%= mission.status == "pending" ? "Pendiente" : "Ganada" %></strong></p>
        </div>
        <div class="p-2">
          <%= cl_image_tag mission.target_user.photo.key, class: "target-user-photo" %>
        </div>
      </div>
      <hr>
      <% end %>
    </div>

  <% else %>
    <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
    <br>
    <h4>Todav铆a no hay ninguna misi贸n. A la noche del viernes, cuando todas nuestras hu茅spedes se hayan registrado... te
      tocar谩 tu
      misi贸n. 别</h4>
    <br>
    <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
  <% end %>

  <br>
  <h1 class="text-center">佛佛</h1>

  <br>
  <hr style="border: 1px solid hotpink; width: 95vw; margin: auto;">
  <%= link_to "Editar Perfil", edit_user_registration_path %>
  <br>
  <%= link_to "Tancar Sessi贸", destroy_user_session_path, data: {turbo_method: :delete} %>
  <br>
  <hr style="border: 1px solid hotpink; width: 95vw; margin: auto;">
  <br>
</div>

<!-- ======= Footer ======= -->
<footer class="text-center" id="footer" style="background-color: white">
  &copy; Copyright <strong><span>Gay Lotus</span></strong>. Tots els drets reservats. Dissenyat amb わ per <a
    href="https://gabrielmr.com/">Gabriel</a>.
</footer><!-- End #footer -->
<br>
