<div class="container">

  <h2 class="mt-3 fancy-font hot-title centered-text mb-3">Hola <%= current_user.first_name %>!</h2>

  <% if current_user.photo.attached? %>
  <%= cl_image_tag @current_user.photo.key, class: "current-user-photo text-center" %>
  <div class="container">
    <p style="font-size: 12px"><em>Cuida tu collar, reina. Si ves a alguien acerc谩ndose con su m贸vil a tu cuello, es
        para
        robarte tu misi贸n. No le dejes!</em></p>
  </div>
  <% end %>

  <% if @mensaje %>
  <div class="alert alert-primary" role="alert">
    <%= @mensaje %>
  </div>
  <% end %>

  <% if @new_mission %>
  <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
  <h3 class="mt-3 fancy-font hot-title centered-text mb-3">隆Tienes una nueva misi贸n!</h3>
  <% challenge = @new_mission.challenge.description %>
  <% full_name = @new_mission.target_user.first_name + " " + @new_mision.target_user.last_name %>
  <% challenge.gsub!("target", full_name) %>
  <% end %>

  <% if @user_mission.present? %>

  <% challenge = current_user.missions.last.challenge.description %>
  <% full_name = current_user.missions.last.target_user.first_name + " " + current_user.missions.last.target_user.last_name%>
  <% challenge.gsub!("target", full_name) %>

  <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
  <br>

  <h5 class="text-center">Tu misi贸n actual es:</h5>
  <div class="d-flex flex-row">
    <div class="p-2">
      <p><em><%= challenge %></em> </p>
    </div>
    <div class="p-2">
      <%= cl_image_tag current_user.missions.last.target_user.photo.key, class: "target-user-photo" %>
    </div>
  </div>

  <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
  <br>

  <p>Todas mis misiones:</p>

  <div class="container">
    <% current_user.missions.each_with_index do |mission, index| %>
    <p><%= index + 1 %>. <i><%= mission.challenge.description.gsub("target", full_name) %></i></p>
    <p>Estado: <strong><%= mission.status == "pending" ? "Pendiente" : "Ganada" %></strong></p>
    <hr>
    <% end %>
  </div>

  <% if @other_mission.present? and @other_mission.status == "completed" %>
  <p>隆Has perdido!</p>
  <% end %>

  <% else %>
  <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
  <br>
  <h4>Todav铆a no hay ninguna misi贸n. A la noche del viernes, cuando todas nuestras hu茅spedes se hayan registrado... te tocar谩 tu
    misi贸n. 别</h4>
  <br>
  <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">

  <% end %>

  <br>
  <h1 class="text-center">佛佛</h1>

  <br>
  <hr style="border: 1px solid hotpink; width: 95vw; margin: auto;">
  <%= link_to "Editar Perfil", edit_user_registration_path %>
  <br>
  <%= link_to "Tancar Sessi贸", destroy_user_session_path, data: {turbo_method: :delete} %>
  <br>
  <hr style="border: 1px solid hotpink; width: 95vw; margin: auto;">
  <br>

</div>

<!-- ======= Footer ======= -->
<footer class="text-center" id="footer" style="background-color: white">
  &copy; Copyright <strong><span>Gay Lotus</span></strong>. Tots els drets reservats. Dissenyat amb わ per <a
    href="https://gabrielmr.com/">Gabriel</a>.
</footer><!-- End #footer -->
<br>
